@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: 'Pacifico', 'Yanone Kaffeesatz', 'Acme', cursive, monospace, sans-serif, serif;
  overflow-x: hidden;
  margin: 0;
  min-height: 100vh;
}

.max-w {
  max-width: 1200px;
  margin: auto;
}

header {
  padding: 0 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo {
  width: 60px;
  height: 60px;
}

.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.nav-link {
  list-style-type: none;
}

.container {
  flex-wrap: wrap;
  align-content: center;
  gap: 20px;
  padding: 20px 0;
}

.card {
  width: 350px;
  height: 460px;
  padding-bottom: 20px;
  flex-direction: column;
  border: 1px solid gainsboro;
  border-radius: 15px;
  gap: 0;
  margin: 0 5px;
  background-color: gainsboro;
}

.card h1 {
  text-align: center;
}

.card img {
  width: 200px;
  border-radius: 15px;
}

.card button {
  border: 1px solid #ffeb3b;
  border-radius: 5px;
  height: 40px;
  width: 90px;
  background: #ff9800;
  color: white;
  margin: 5px 0;
}

footer {
  height: 50px;
}

footer h3 {
  text-align: center;
}
